<div>
  <div class="aob-movie-tile-container">
        <article class="aob-movie-tile" *ngFor="let m of movieList" appFloatUp routerLink="comment/{{m.id}}">
          <header>
            <h3>{{m.title}}</h3>
          </header>
          <section class="aob-movie-tile-section">
            <p>Rating: {{m.rating}} % </p>
            <p>
              R rated: <span [ngClass]="m.isRestricted ? 'fa fa-user-plus' : 'fa fa-user'"></span>
            </p>
            <p>Show: {{m.showType}} </p>
            <p>Language: {{m.language}} </p>
          </section>
        </article>      
  </div>

  <!-- Uncomment below to demo force view refresh  -->
  <!-- <div>
    <button (click)="refreshView()">Refresh Me</button>
  </div> -->

  

</div>
