<div class="login-panel">
  <div class="login-form">
    <h3>Sign in</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="center-block">Username:
          <input class="form-control" formControlName="username" >
        </label>
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
          <div *ngIf="username.errors.required">
            Username is required.
          </div>
          <div *ngIf="username.errors.admin">
            Username "admin" is not permitted.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="center-block">Email:
          <input class="form-control" formControlName="email" >
        </label>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="email.errors.email">
            Please provide a valid email.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="center-block">Password:
          <input type="password" class="form-control" formControlName="password" >
        </label>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>
    </form>
  </div>
  <div class="form-dump">
      <p>Form value: {{ loginForm.value | json }}</p>
      <p>Form status: {{ loginForm.status | json }}</p>
  </div>
</div>