.comments-panel {
    display: flex;
    margin: 2em 0;
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.16);
    justify-content: space-between;
  }
  
  .comments-form {
    text-align: initial;
    width: 50%;
  }
  
  .comments-list {
    list-style: none;
    text-align: initial;
  }