<div class="comments-panel">
  <div class="comments-form">
    <h3>Add Comment</h3>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="center-block">Author:
          <input class="form-control" formControlName="author" >
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Comment:
          <textarea class="form-control" formControlName="comment"></textarea>
        </label>
      </div>
      <button type="submit" class="btn btn-danger" [disabled]="!commentForm.valid">Add</button>
    </form>
  </div>
</div>